
<!DOCTYPE html>
<html lang="pt-br" >
<head>
    <meta charset="UTF-8">
    
    <title>Cadastro de Estados</title>
    
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

	<script src="/js/app/app.js"> </script>
	<script src="/js/controller/state.controller.js"> </script>
    <script src="/js/service/state.service.js"> </script>
    
</head>


<body ng-app="app" ng-controller="StateController" style="background-color: #c9e2b3">


<hr>
<div class='col-sm-offset-4 col-sm-4'>
    <h2> Listagem de Estados </h2>
</div>
<div class='col-sm-4'>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Novo</button>
</div>
<hr>

<div class=' col-sm-offset-1 col-sm-9'>

    <table class="table table-hover">
        <thead>
        <tr>
            <th style="border: 0px;">Sigla</th>
            <th style="border: 0px;">Nome</th>
            <th style="border: 0px;">Data de registro</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="state in states">
            <td>{{state.abbreviation}}</td>
            <td>{{state.name}}</td>
            <td>{{state.lastUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>
                <button type="button" class="btn btn-warning" data-toggle="modal"
                        data-target="#myModalEditar" ng-click="selectState(state)">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#myModalExcluir" ng-click="selectState(state)">Excluir</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>



<!-- Modal -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Novo Cadastro</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Sigla</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Sigla"
                            ng-model="newState.abbreviation" maxlength="2" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Nome</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Nome"
                                   ng-model="newState.name" maxlength="100" required="required">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary"
                            ng-click="save()" data-dismiss="modal">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Editar -->

<div class="modal fade" id="myModalEditar" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Cadastro</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Sigla</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Sigla..."
                            ng-model="selectedState.abbreviation" maxlength="2" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Nome</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Nome..."
                                   ng-model="selectedState.name"  maxlength="100" required="required">
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary"
                            ng-click="updateState()" data-dismiss="modal">Salvar</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Excluir -->
<div class="modal fade" id="myModalExcluir" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Excluir</h4>
            </div>
            <div class="modal-body">
                <h4 style="font-weight: bolder"> Você tem certeza que deseja excluir o registro?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="deleteState()">Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>

	<div ng-init="getAllStates()">
	</div>
